<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Baelor API - {{ .title }}</title>

	<link href="//fonts.googleapis.com/css?family=Exo:100" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/core.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script>
		// Set Api Base for vuejs
		var apiAddress = '{{ .api_address }}';
	</script>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body class="body-{{ .page }}" data-spy="scroll" data-target="#docs-sidebar">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<a class="navbar-brand" href="/">Home</a>
					<a class="navbar-brand" href="/docs">Docs</a>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<a class="navbar-brand" href="/about">About</a>
				</ul>
			</div>
		</div>
	</nav>
	<main id="bae-app" class="main-content">
		{{ template "content" . }}
	</main>
	<footer>
		<hr />
		<div class="container">
			<p>
				Developed by
				<a href="https://twitter.com/0xdeafcafe" target="_blank">
					Alex Forbes-Reed - @0xdeafcafe
				</a>
			</p>
			<p>
				Written in Golang
			</p>
			<p>
				Code licensed under the 
				<a href="http://www.dbad-license.org/" target="_blank">
					Don't Be A Dick Public License
				</a>
			</p>
			<p>
				Code Open Sourced at
				<a href="https://github.com/BaelorSwift" target="_blank">
					github.com/BaelorSwift
				</a>
			</p>
			<p class="legal">
				&copy; <span id="copyright-year"></span>
			</p>
		</div>
	</footer>

	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/static/js/core.js"></script>
	{{ if eq .page "home" }}
		<script src="/static/js/home.js"></script>
	{{ end }}
	{{ if eq .page "docs" }}
		<script src="/static/js/docs.js"></script>
	{{ end }}
	<script>
		$(document).ready(function() {
			// Configure hljs
			hljs.configure({
				tabReplace: '  ',
			});
			hljs.initHighlightingOnLoad();
		});

		// Track some peeps
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
		ga('create', 'UA-90553325-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
