{{ define "content" }}
<section id="baelor-splash-section">
	<div class="splash-box">
		<div class="mask">
			<div class="content">
				<h1>baelor.io</h1>
				<h2>The <strong>RESTful</strong><sup>(ish)</sup> api for Taylor Swift</h2>
			</div>
		</div>
		<div class="swag-xox">
			<video class="hidden-xs" src="/static/video/baelor-home.mp4" loop autoplay poster="/static/images/baelor-cover.jpg"></video>
		</div>
	</div>
</section>

<section id="top-banner-section" class="baelor-info-section">
	<div class="api-demo row">
		<div class="col-md-8 col-md-offset-2">
			<h3>
				api example
			</h3>

			<div class="desktop-api-demo hidden-xs">
				<div class="input-group">
					<span class="input-group-addon">{{ .api_address }}</span>
					<input type="text" class="form-control" placeholder="path" v-model="apiPath" />
					<span class="input-group-btn">
						<button class="get-api-preview btn btn-success" type="button" v-on:click="makeRequest">Shake it off!</button>
					</span>
				</div>
			</div>
			<div class="mobile-api-demo visible-xs">
				<div>
					<span id="api-path-prefix" class="input-group-addon">{{ .api_address }}</span>
				</div>
				<div>
					<input type="text" class="form-control" placeholder="path" v-model="apiPath" />
				</div>
				<div id="api-request-button">
					<span>
						<button class="get-api-preview btn btn-success" type="button" v-on:click="makeRequest">Shake it off!</button>
					</span>
				</div>
				<p>
					<sup>*</sup>this example uses a demo <code>api_key</code>, that can
					only be used on the songs/{slug}, and albums/{slug} endpoints.
				</p>
			</div>
			
			<div id="loader" class="loader">
				<div class="loader-pulse"></div>
			</div>

			<div id="api-demo-response">
				<h4 id="api-demo-response-header"></h4>
				<pre id="json-preview-pre">
					<code id="json-preview" class="json"></code>
				</pre>
			</div>
		</div>
	</div>
</section>
{{ end }}
