body.body-docs {
	position: relative;
}

#api-docs-header {
	text-align: center;
	color: #fff;
	height: 450px;
	width: 100%;
	background: url('/static/images/docs-cover.jpg') no-repeat center center fixed;
	background-size: cover;

	.mask {
		background: rgba(164, 164, 164, 0.40);
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: relative;
		padding-top: 150px;

		.container {
			h1 {
				font-family: $font-stack-header;
				font-weight: 100;
				font-size: 60px;
			}

			h2 {
				font-family: $font-stack;
				font-size: 25px;
			}
		}

		@media (max-width: $extra-small-devices-width) {
			.container {
				h1 {
					font-family: $font-stack-header;
					font-weight: 100;
					font-size: 40px;
				}

				h2 {
					font-family: $font-stack;
					font-size: 18px;
				}
			}
		}
	}
}

#api-docs-content {
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;

	.api-docs-sidebar {
		margin-top: 50px;
		margin-right: 20px;
		padding-left: 30px;

		ul {
			font-size: 14px;

			> li {
				> a {
					display: block;
					font-weight: 500;
					color: #999;
					padding: 4px 20px;

					&:hover,
					&:focus {
						padding-left: 20px;
						color: $primary-red;
						text-decoration: none;
						background-color: transparent;
						border-right: 1px solid $primary-red;
					}
				}

				&.active {
					> a {
						padding-left: 20px;
						font-weight: 700;
						color: $primary-red;
						background-color: transparent;
						border-right: 1px solid $primary-red;
					}

					ul {
						display: block;
					}

					&:hover > a,
					&:focus > a {
						padding-left: 20px;
						font-weight: 700;
						color: $primary-red;
						background-color: transparent;
						border-right: 1px solid $primary-red;
					}
				}

				ul {
					font-size: 12px;
					display: none;

					> li {
						padding-left: 15px;
						> a {
							padding-top: 3px;
							padding-bottom: 3px
						}
					}
				}
			}
		}

		@media (min-width: ($extra-small-devices-width + 1)) {
			width: 250px;
		}

		&.affix {
			position: fixed;
			top: 23px;

			@media (min-width: ($extra-small-devices-width + 1)) {
				width: 250px;
			}
		}

		.api-docs-sidenav {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	.api-docs {
		position: relative;

		> section {
			margin-bottom: 60px;

			h1 {
				color: #464646;
				font-family: $font-stack;
				font-size: 32px;

				width: 100%;
				padding-bottom: 2px;
				border-bottom: 1px solid #eee;
			}
			> article {
				padding-top: 10px;

				> h2 {
					color: #5c5c5c;
					font-family: $font-stack;
					font-size: 25px;

					width: 100%;
					padding-bottom: 2px;
					border-bottom: 1px solid #eee;
				}

				> hr {
					margin-top: 0;
					margin-bottom: -10px;
				}

				> h3 {
					color: #5c5c5c;
					font-family: $font-stack;
					font-size: 16px;
				}

				> .table {
					margin-top: 30px;
				}

				> h4 {
					color: #5c5c5c;
					font-family: $font-stack;
				}

				code {
					max-height: 500px;
				}
			}

			&:last-child {
				margin-bottom: 80px;
			}
		}
	}

	@media(max-width: 992px) {
		.api-docs-sidebar.affix {
			position: static;
		}
	}
}
